body {
    background-image: url(https://raw.githubusercontent.com/KrishnaSolo/KrishnaSolo.github.io/master/background.jpg);
    background-size: cover;
    background-attachment: scroll;
    opacity: 0.65;
}

.header {
    color: #fff;
    background-color: #111;
    box-sizing: content-box;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    margin-top: 205px;
    margin-left: 425px;
    margin-right: 425px;
    margin-bottom: 200px;
    text-transform: uppercase;
    font: 400 20px/1.8 "Lato", sans-serif;
    letter-spacing: 12px;
}

    .header:hover {
        color: #111;
        background-color: #fff;
    }

p {
    color: whitesmoke;
}
